name: Build Gradle Project

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Configurar JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Permitir execução do Gradle Wrapper
        run: chmod +x gradlew

      - name: Build do projeto
        run: ./gradlew clean build --no-daemon
