name: CD - Continuous Deployment

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    environment:
      name: production
      url: https://meuapp-producao.com

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Permitir execução do Gradle Wrapper
        run: chmod +x gradlew

      - name: Build JAR
        run: ./gradlew clean build --no-daemon

      - name: Baixar artefato
        uses: actions/download-artifact@v4
        with:
          name: app

      - name: Aprovação manual
        run: echo "Aguardando aprovação para produção"

      - name: Deploy em ambiente de produção
        run: echo "Aplicação implantada em PRODUÇÃO"
